body {
  background-image: url(images/kittywallpaper.jpg);
  width: 100%;
  transition: all .5s ease;
  cursor: pointer;

}

.box {
  width: 220px;
  height: 220px;
  background-color: red;
  margin: 10px;
  display: inline-block;
}

h1 {
  font-size: 55px;
  text-align: center;
}

.hide {

  display: none;
}

small {
  width: 10px;

}

@-webkit-keyframes spin{
  0%   { -webkit-transform: rotate(-180deg) translate(0px, 0px);}
  100% { -webkit-transform: rotate(180deg) translate(10px, 75px);}
}

.spin {
  -webkit-animation: spin 2s infinite;
}


@-webkit-keyframes ball-up{
  0%  {height: 150px;}
  10% {height: 300px;}
  50% {margin-bottom: 200px; border-radius: 50%;}
  90% {height: 100px;}
  100%{height: 150px;}
}


.ball{
  -webkit-animation: 1s ball-up infinite ease-in-out;
  }



  @-webkit-keyframes wiggle {
    10% {background-color:#ffbf00; }
    20% {background-color:#F0A400; }
    30% {background-color:#E18B00; }
    40% {background-color:#D57100; }
    50% {background-color:#CA5900; }
    60% {background-color:#C14200; }
    70% {background-color:#BA2B00; }
    80% {background-color:#B40000; }
    90% {background-color:#B60016; }
    100%{background-color:green;   }
  }

  .wiggle {
    -webkit-animation:wiggle 5s linear infinite alternate;
    width: 250px;
    height: 250px;
}


@-webkit-keyframes slidein{
  0% {
    margin-left: 100%;
    width: 300%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.slide {
-webkit-animation:slidein 5s infinite;
}


h2 {
  color: white;
  font-size: 55px;
  text-align: center;
}


p {
  font-size: 35px;
  color: white;
  text-align: center;
}

button {
  padding: 5px;
  margin: 0px 0px 0px 35px;

}
form {
  padding: 5px;
}



footer {
  position: absolute;
  background-color: none;
  height: 200px;
}

#slideAd {
  padding: 15px;
  width: 300px;
  height: 200px;
  background-color: #7ec0ee;
  font-size: 15px;
  transition: all .8s ease;
  text-align: center;
}

.anim{
  position: relative;
  left: 300px;
  bottom: 50px;
}

#j-example, .box {
  /*position: relative:*/
  display: inline-block;
  vertical-align: middle;

}
