body {
  background-image: url(images/kittywallpaper.jpg);
  width: 100%;
  transition: all .5s ease;
  cursor: pointer;

}

.box {
  width: 220px;
  height: 220px;
  background-color: red;
  margin: 10px;
  display: inline-block;
}

h1 {
  font-size: 55px;
  text-align: center;
}

.hide {

  display: none;
}

small {
  width: 10px;
  
}
